* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, arial;
}

html, body {
  height: 100%;
  background-color: #E7E5D9;
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 20px 0;
  background-color: #F0DED0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5E5946;
  margin-bottom: 80px;
}
header h1 {
  font-weight: 100;
  color: #5E5946;
  margin-left: 80px;
}
header h1 a {
  text-decoration: none;
  color: #5E5946;
}
header nav a {
  margin-right: 40px;
  font-weight: 100;
  text-decoration: none;
  color: #5E5946;
}
header nav a:hover {
  color: black;
}

main {
  background-color: #E7E5D9;
  min-height: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .about {
  height: 400px;
  width: 600px;
}
main .about h2 {
  color: #5E5946;
  font-weight: 100;
  border-bottom: 2px solid #5E5946;
  width: 80px;
  margin-bottom: 20px;
}
main .about p {
  color: #5E5946;
  font-weight: 100;
  font-size: 1.3em;
}
main .image {
  background-image: url(../images/IMG_3967.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 1px solid #5E5946;
  border-radius: 50px;
  height: 450px;
  width: 350px;
}

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer #socials {
  background-color: #C3C1AB;
  border-radius: 30px;
  box-shadow: 10px 10px 20px gray;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}
footer #socials #github {
  height: 50px;
  width: 50px;
  margin: 20px;
  transition: transform 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/github.png);
}
footer #socials #github:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer #socials #linkedin {
  height: 50px;
  width: 50px;
  margin: 20px;
  transition: transform 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/Linkedin.png);
}
footer #socials #linkedin:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer #socials #codewars {
  height: 50px;
  width: 50px;
  margin: 20px;
  transition: transform 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/codewars.png);
}
footer #socials #codewars:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer #socials #freecodecamp {
  height: 50px;
  width: 50px;
  margin: 20px;
  transition: transform 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/freecodecamp.png);
}
footer #socials #freecodecamp:hover {
  cursor: pointer;
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */