@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, arial;
}

html, body {
  height: 100%;
  background-color: #668977;
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #E0D3B0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #03292C;
  margin-bottom: 120px;
}
header img {
  height: 80px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 40px;
}
header img a {
  text-decoration: none;
  color: #03292C;
}
header nav a {
  margin-right: 40px;
  font-weight: 100;
  text-decoration: none;
  color: #03292C;
}
header nav a:hover {
  color: black;
}

main {
  background-color: #668977;
  min-height: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .about {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .about h1 {
  color: #03292C;
  font-weight: 100;
}
main .about h2 {
  color: #03292C;
  font-weight: 100;
  font-size: 1.3em;
}
main .image {
  background-image: url(../images/DALL·E\ 2023-01-18\ 17.05.36\ -\ a\ 3d\ animated\ cozy\ minimalistic\ computer\ desk\ with\ cool\ earthy\ colors.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50px;
  height: 300px;
  width: 400px;
}

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer #socials {
  background-color: #ABB8A0;
  border-radius: 30px;
  box-shadow: 10px 10px 20px #03292C;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}
footer #socials #github {
  height: 50px;
  width: 50px;
  margin: 20px;
  transition: transform 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/github.png);
}
footer #socials #github:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer #socials #linkedin {
  height: 50px;
  width: 50px;
  margin: 20px;
  transition: transform 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/Linkedin.png);
}
footer #socials #linkedin:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer #socials #codewars {
  height: 50px;
  width: 50px;
  margin: 20px;
  transition: transform 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/codewars.png);
}
footer #socials #codewars:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer #socials #freecodecamp {
  height: 50px;
  width: 50px;
  margin: 20px;
  transition: transform 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/freecodecamp.png);
}
footer #socials #freecodecamp:hover {
  cursor: pointer;
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */