@import 'variables';
@import 'mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $main-fonts
}
html, body{
    height: 100%;
    background-color: $color-secondary;
}

header {
    height: fit-content;
    width: 100%;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-accent;
    margin-bottom: 120px;
    img {
        height: 80px;
        width: 300px;
        object-fit: cover;
        margin-left: $margin-edge;
        a {
            text-decoration: none;
            color: $color-accent;
        }
    }
    nav {
        a {
            margin-right: $margin-edge;
            font-weight: 100;
            text-decoration: none;
            color: $color-accent;

        }
        a:hover {
            color: black;
        }
    }
}
main {
    background-color: $color-secondary;
    min-height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .about {
        height: 300px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        h1 {
            color: $color-accent;
            font-weight: 100;
            
        }
        h2 {
            color: $color-accent;
            font-weight: 100;
            font-size: 1.3em;
        }
    }
    .image {
        background-image: url(../images/DALL·E\ 2023-01-18\ 17.05.36\ -\ a\ 3d\ animated\ cozy\ minimalistic\ computer\ desk\ with\ cool\ earthy\ colors.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 50px;
        height: 300px;
        width: 400px;
    }
}
footer {
    height: fit-content;
    width: 100%;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    #socials {
        background-color: $color-footer;
        border-radius: 30px;
        box-shadow: 10px 10px 20px $color-accent;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        padding: 0 20px;
        #github {
            @include socials;
            background-image: url(../images/github.png);
        }
        #github:hover {
            @include socialsAction
        }
        #linkedin {
            @include socials;
            background-image: url(../images/Linkedin.png);
        }
        #linkedin:hover {
            @include socialsAction
        }
        #codewars {
            @include socials;
            background-image: url(../images/codewars.png);
        }
        #codewars:hover {
            @include socialsAction
        }
        #freecodecamp {
            @include socials;
            background-image: url(../images/freecodecamp.png);
        }
        #freecodecamp:hover {
            @include socialsAction
        }
    }
}