@import 'variables';
@import 'mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $main-fonts
}
html, body{
    height: 100%;
    background-color: $color-secondary;
}

header {
    height: fit-content;
    width: 100%;
    padding: 20px 0;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $color-accent;
    margin-bottom: 80px;
    h1 {
        font-weight: 100;
        color: $color-accent;
        margin-left: $margin-edge * 2;
        a {
            text-decoration: none;
            color: $color-accent;
        }
    }
    nav {
        a {
            margin-right: $margin-edge;
            font-weight: 100;
            text-decoration: none;
            color: $color-accent;

        }
    }
}
main {
    background-color: $color-secondary;
    display: flex;
    justify-content: space-evenly;
    .about {
        height: 400px;
        width: 600px;
        h2 {
            color: $color-accent;
            font-weight: 100;
            border-bottom: 2px solid $color-accent;
            width: 80px;
            margin-bottom: 20px;
        }
        p {
            color: $color-accent;
            font-weight: 100;
            font-size: 1.3em;
        }
    }
    .image {
        background-image: url(../images/IMG_3967.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border: 1px solid $color-accent;
        border-radius: 50px;
        height: 450px;
        width: 350px;
    }
}
footer {
    height: fit-content;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    #socials {
        background-color: $color-footer;
        border-radius: 30px;
        box-shadow: 10px 10px 20px gray;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        padding: 0 20px;
        #github {
            @include socials;
            background-image: url(../images/github.png);
        }
        #github:hover {
            @include socialsAction
        }
        #linkedin {
            @include socials;
            background-image: url(../images/Linkedin.png);
        }
        #linkedin:hover {
            @include socialsAction
        }
        #codewars {
            @include socials;
            background-image: url(../images/codewars.png);
        }
        #codewars:hover {
            @include socialsAction
        }
        #freecodecamp {
            @include socials;
            background-image: url(../images/freecodecamp.png);
        }
        #freecodecamp:hover {
            @include socialsAction
        }
    }
}